/* Button */
.btn {
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}
.btn-primary,
.btn-dark {
  border: 0;
  border-radius: 3px;
  padding: 12px 20px 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f5f8eb;
  font-family: $font-secondary;
  transition: 350ms;
  font-size: 14px;
  @include tablet {
    font-size: 13px;
  }
}

.btn-white.btn-primary {
  background: #f5f8eb;
  color: #305d26;
}

.btn-primary {
  background: #305d26;
}

.btn-dark {
  background: #23282d;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-white.btn-primary:hover {
  background: #111;
  color: #f5f8eb;
  &:active,
  &:focus {
    color: #f5f8eb;
    background-color: #111 !important;
  }
}

.general-btn {
  margin-top: 50px;
}
